{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
<ul class="nav nav-tabs" id="menu" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="api-tab" data-toggle="tab" href="#api" role="tab" aria-controls="api" aria-selected="false">Console de l'API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation" aria-selected="false">Documentation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cgu-tab" data-toggle="tab" href="#cgu" role="tab" aria-controls="cgu" aria-selected="true">CGU</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mentions-legales-tab" data-toggle="tab" href="#mentions-legales" role="tab" aria-controls="mentions-legales" aria-selected="true">Mentions l&eacute;gales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="changelog-tab" data-toggle="tab" href="#changelog" role="tab" aria-controls="changelog" aria-selected="true">Journal des changements</a>
    </li>
    {% if user.rank.value == ranks['ADMIN'] %}
        <li class="nav-item">
            <a class="nav-link" id="publication-tab" data-toggle="tab" href="#publication" role="tab" aria-controls="publication" aria-selected="true">Publication au format DCAT</a>
        </li>
    {% endif %}
</ul>
<div class="tab-content" id="menuContent">
    <div class="tab-pane fade show active" id="api" role="tabpanel" aria-labelledby="api-tab">
        <div id="authorizations" class="mx-auto col-12 col-xl-9">
            {% if user is empty and user.token is empty %}
                <div class="notice">
                    <h5><i class="fas fa-info-circle"></i>Notice</h5>
                    Vous avez besoin d'un jeton d'acc&egrave;s pour consommer l'API Open Data Gironde Num&eacute;rique.<br />
                    Veuillez vous connecter pour obtenir votre jeton d'acc&egrave;s ou veuillez le g&eacute;n&eacute;rer par le biais du service <b>/token</b> &agrave; l'aide de vos identifiants associ&eacute;s &agrave; votre compte (consultez la documentation pour plus d'informations).<br />
                    Si vous avez d&eacute;j&agrave; un jeton d'acc&egrave;s, veuillez le fournir ci-dessous.
                </div>
            {% endif %}
            <div class="form-inline text-right mt-3">
                <label class="mr-2 col-form-label" for="access_token">Contenu de l'en-t&ecirc;te HTTP</label>
                <div class="input-group col">
                    <div class="input-group-prepend"><span class="input-group-text">Authorization : Bearer</span></div>
                    <textarea name="access_token" id="access_token" class="form-control form-control-sm input-btn" style="height:100px;">{{ user.token.bearer }}</textarea>
                    <div class="input-group-append"><button class="btn btn-sm btn-outline-primary copy-btn" type="button" data-toggle="tooltip" data-placement="top" title="Copier dans le presse-papier">Copier</button></div>
                </div>
            </div>
        </div>
        <div id="swagger-ui"></div>
    </div>
    <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
        {% include 'documentation.html' %}
    </div>
    <div class="tab-pane fade" id="cgu" role="tabpanel" aria-labelledby="cgu-tab">
        {% include 'cgu.html' %}
    </div>
    <div class="tab-pane fade" id="mentions-legales" role="tabpanel" aria-labelledby="mentions-legales-tab">
        {% include 'mentions-legales.html' %}
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'contact.html' %}
    </div>
    <div class="tab-pane fade" id="changelog" role="tabpanel" aria-labelledby="changelog-tab">
        {% include 'changelog.html' %}
    </div>
    {% if user.rank.value == ranks['ADMIN'] %}
        <div class="tab-pane fade" id="publication" role="tabpanel" aria-labelledby="publication-tab">
            {% include 'publication.html' %}
        </div>
    {% endif %}
</div>
{% endautoescape %}
{% endblock %}

{% block script %}
{% autoescape false %}
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js"></script>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<script>
    var token = $('#access_token').val();
    window.onload = function() {
        const ui = SwaggerUIBundle({
            url: '{{ domain }}/swagger/swagger.json',
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset.slice(1)
            ],
            plugins: [SwaggerUIBundle.plugins.DownloadUrl],
            layout: 'StandaloneLayout',
            defaultModelRendering: 'model',
            requestInterceptor: function(request) {
                request.headers.Authorization = 'Bearer ' + token;
                return request;
            }
        });
        window.ui = ui;
    }

    {% if user.rank.value == ranks['ADMIN'] %}
        function ajaxRequest(params) {
            $.ajax({
                url: '{{ domain }}/swagger/action/load/publication',
                method: 'post',
                data: {
                    '{{ csrf.keys.name }}': '{{ csrf.name }}',
                    '{{ csrf.keys.value }}': '{{ csrf.value }}'
                },
                success: function(dataArray) {
                    params.success({
                        'rows': dataArray,
                        'total': dataArray !== null ? dataArray.length : 0
                    })
                },
                error: function(er) {
                    params.error(er);
                }
            });
        }
        function activeFormatter(value, row, index) {
            return ['<i class="fas fa-circle text-center' + (value ? ' text-success' : ' text-danger') + '"></i>'].join('');
        }
        function frequencyFormatter(value, row, index) {
            if (value > 1) {
                var message = 'Tous les ' + value + ' jours';
            } else {
                var message = 'Tous les jours';
            }
            return [message].join('');
        }
        function stateFormatter(value, row, index) {
            var message = '';
            if (typeof value === 'undefined' || value === null) {
                message = '<span class="badge badge-secondary">Jamais ex&eacute;cut&eacute;e</span>';
            } else {
                switch (value.code) {
                    case 1 :
                        message = '<span class="badge badge-success" title="' + value.message + '">R&eacute;ussie</span>';
                        break;
                    case 2 :
                        message = '<span class="badge badge-warning" title="' + value.message + '">Attention</span>';
                        break;
                    case 3 :
                        message = '<span class="badge badge-danger" title="' + value.message + '">En erreur</span>';
                        break;
                }
            }
            return [message].join('');
        }
        function urlFormatter(value, row, index) {
            if (typeof value !== 'undefined' && value !== null) {
                return ['<a href="' + value + '" target="_blank">' + value + '</a>'].join('');
            }
        }
        function operateFormatter(value, row, index) {
            return [
                '<i class="fas fa-pencil-alt text-center text-warning mr-3"></i>',
                '<i class="fas fa-trash-alt text-center text-danger"></i>'
            ].join('');
        }
        window.operateEvents = {
            'click .fa-pencil-alt': function (e, value, row, index) {
                $('#publication-popup h5.modal-title').html('&Eacute;dition d\'une publication');
                $('#publication-form')[0].reset();
                $('#publication-form input[name="publication-siren"]').prop('readonly', true);
                $('#publication-form input[name="publication-siren"]').val(row.siren);
                $('#publication-form input[name="publication-name"]').val(row.name);
                $('#publication-form input[name="publication-frequency"]').val(row.frequency);
                if (row.active) {
                    $('#publication-form input[name="publication-active"]').prop('checked', true);
                } else {
                    $('#publication-form input[name="publication-active"]').prop('checked', false);
                }
                $('#publication-form').attr('action', '{{ domain }}/swagger/action/update/publication');
                showPopUp('publication-popup');
            },
            'click .fa-trash-alt': function (e, value, row, index) {
                $('#publication-delete-popup-content input[name="publication-siren"]').val(row.siren);
                $('#publication-delete-popup-content span.publication-name').html(row.name);
                showPopUp('publication-delete-popup');
            }
        }
        $('#add-publication').on('click', function() {
            $('#publication-popup h5.modal-title').html('Ajout d\'une nouvelle publication');
            $('#publication-form')[0].reset();
            $('#publication-form input[name="publication-siren"]').prop('readonly', false);
            $('#publication-form input[name="publication-active"]').prop('checked', true);
            $('#publication-form').attr('action', '{{ domain }}/swagger/action/add/publication');
            showPopUp('publication-popup');
        });
    {% endif %}
</script>
{% endautoescape %}
{% endblock %}