{% autoescape false %}
<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="language" content="FR" />
    <meta name="description" content="API Open Data Gironde num&eacute;rique." />
    <meta name="author" content="{{ adminName }}, {{ adminEmail }}">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>API Open Data - Gironde Num&eacute;rique</title>
    <link href="{{ domain }}/swagger/resources/img/girnum.ico" rel="icon" type="image/png" sizes="96x96" />
    <link href="{{ domain }}/swagger/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ domain }}/swagger/resources/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ domain }}/swagger/resources/css/swagger-ui.css" rel="stylesheet" type="text/css" />
    <link href="{{ domain }}/swagger/resources/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <a href="{{ domain }}/swagger/"><h1>API Open Data</h1></a>
        <img src="{{ domain }}/swagger/resources/img/logotype-f42f.png" title="Gironde num&eacute;rique" />
    </header>
    {% include 'user.html' %}
    <main class="col col-12 bd-content mx-auto mt-3" role="main">
        {% block content %}{% endblock %}
    </main>
    <noscript>
        <style type="text/css">
            main{ display: none; }
        </style>
        <div class="noscript-message">
            Veuillez activer JavaScript dans les pr&eacute;f&eacute;rences de votre navigateur pour acc&egrave;der &agrave; cette page...
        </div>
    </noscript>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://kit.fontawesome.com/5c4b02fe06.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ domain }}/swagger/resources/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ domain }}/swagger/resources/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="{{ domain }}/swagger/resources/bootstrap-table/bootstrap-table-locale-all.min.js"></script>
    <script type="text/javascript" src="{{ domain }}/swagger/resources/javascript/main.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
{% endautoescape %}