<div class="text">
    <h3 class="mt-3 font-weight-normal">Conditions g&eacute;n&eacute;rales d'utilisation de l'API Open Data Gironde Num&eacute;rique</h3>
    <h4>1. Objet</h4>
    <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales d'utilisation ont pour objet de d&eacute;finir les r&egrave;gles d'utilisation de l'API Open Data d&eacute;velopp&eacute;e par le syndicat mixte Gironde Num&eacute;rique.<br />
    Cette API donne acc&egrave;s aux donn&eacute;es ouvertes publi&eacute;es par les diff&eacute;rentes collectivit&eacute;s (EPCI, CdC, communes ou autres structures publiques) de Gironde ayant adh&eacute;r&eacute; au service Open Data de Gironde Num&eacute;rique :</p>
    <ul>
        <li>D&eacute;lib&eacute;rations</li>
        <li>Actes r&eacute;glementaires</li>
    </ul>
    <p>La consommation r&eacute;guli&egrave;re de l'API Open Data Gironde Num&eacute;rique permet de maintenir &agrave; jour les diff&eacute;rents jeux de donn&eacute;es publiques des acteurs girondins courant et &agrave; venir, les diff&eacute;rentes collectivit&eacute;s adh&eacute;rentes de Gironde Num&eacute;rique souscrivant au fur et &agrave; mesure du temps au service Open Data Gironde Num&eacute;rique.</p>
    <p>Ces conditions s'appliquent &agrave; toute personne utilisant l'API.</p>
    <h4>2. Condition de Licence</h4>
    <p>La r&eacute;utilisation des jeux de donn&eacute;es mis &agrave; votre disposition &agrave; partir de la base Open Data Gironde Num&eacute;rique est soumise &agrave; la licence &laquo; <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence" target="_blank" title="Licence Ouverte / Open Licence version 2.0">Licence Ouverte / Open Licence version 2.0</a> &raquo; con&ccedil;ue par Etalab, organisme charg&eacute; de coordonner l'action des services de l'&Eacute;tat et de ses &eacute;tablissements publics pour faciliter la r&eacute;utilisation la plus large possible de leurs informations publiques, via le portail interminist&eacute;riel <a herf="https://www.data.gouv.fr/" target="_blank" title="data.gouv.fr">data.gouv.fr</a></p>
    <h4>3. Protection des donn&eacute;es &agrave; caract&egrave;re personnel contenues dans la base Open Data Gironde Num&eacute;rique</h4>
    <p>La base Open Data Gironde Num&eacute;rique contenant des donn&eacute;es &agrave; caract&egrave;re personnel (concernant les diff&eacute;rents acteurs publics des collectivit&eacute;s adh&eacute;rentes), le syndicat mixte Gironde Num&eacute;rique attire votre attention sur les obligations l&eacute;gales qui en d&eacute;coulent :</p>
    <p>Le traitement de ces donn&eacute;es rel&egrave;ve notamment des obligations du r&egrave;glement g&eacute;n&eacute;ral sur la protection des donn&eacute;es (RGPD), de la Loi 78-17 du 6 janvier 1978 modifi&eacute;e, dite Loi CNIL :<br />
    <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank" title="Loi CNIL">https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee</a></p>
    <p>Selon votre usage du jeu de donn&eacute;es, il est ainsi de votre responsabilit&eacute; de tenir compte du statut de diffusion le plus r&eacute;cent de chaque jeu de donn&eacute;es publiques afin de prendre en compte les &eacute;ventuelles suppressions de donn&eacute;es de la part des diff&eacute;rents producteurs. Pour cela il convient d'effectuer un annule et remplace &agrave; chaque consommation pour chacune des collectivit&eacute;s.</p>
    <p class="font-weight-bold">Avertissement pour les administrations et organismes charg&eacute;s d'une mission de service public</p>
    <p>En cons&eacute;quence, en cas d'octroi &agrave; votre organisme, d'un acc&egrave;s aux diff&eacute;rents jeux de donn&eacute;es publiques contenant des informations de personnes physiques, vous vous engagez &agrave; n'utiliser ces informations que dans le cadre strict de ses missions de service public, et &agrave; ne pas les rediffuser ni les divulguer aupr&egrave;s de tiers non autoris&eacute;s.</p>
    <p>Vous reconnaissez &eacute;galement que la responsabilit&eacute; du syndicat mixte Gironde Num&eacute;rique sera enti&egrave;rement d&eacute;gag&eacute;e si vous contrevenez &agrave; cet engagement.</p>
    <p>Dans l'hypoth&egrave;se notamment o&ugrave; vous mettriez ces donn&eacute;es &agrave; disposition de tiers autoris&eacute;s via une application, vous vous engagez &agrave; r&eacute;pliquer les termes de cet avertissement aupr&egrave;s de ses utilisateurs.</p>
    <h4>4. Limites d'utilisation</h4>
    <p>La consommation de l'API Open Data Gironde Num&eacute;rique est soumise &agrave; une limite de 30 interrogations par minute.</p>
    <p>Le syndicat mixte Gironde Num&eacute;rique se r&eacute;serve le droit de changer cette limite en cas de n&eacute;cessit&eacute;.</p>
    <p>Gironde Num&eacute;rique s'efforce de garantir une disponibilit&eacute; forte de l'API. Toutefois, Gironde Num&eacute;rique se r&eacute;serve la libert&eacute; de suspendre, moyennant un pr&eacute;avis de 48 heures, l'API pour des raisons de maintenance. En cas d'urgence, cette suspension pourra intervenir sans pr&eacute;avis ou pour tout autre motif jug&eacute; n&eacute;cessaire. L'indisponibilit&eacute; du service ne saurait ouvrir droit &agrave; aucune compensation quelle qu'en soit sa nature.</p>
    <p>Le syndicat mixte Gironde Num&eacute;rique se r&eacute;serve le droit de r&eacute;silier, sans pr&eacute;avis ni indemnit&eacute; d'aucune sorte, tout compte faisant l'objet d'une utilisation illicite, frauduleuse ou contraire aux pr&eacute;sentes CGU.</p>
    <h4>5. S&eacute;curit&eacute;</h4>
    <p>L'API Open Data du syndicat mixte Gironde Num&eacute;rique est prot&eacute;g&eacute;e, conform&eacute;ment aux objectifs fix&eacute;s par le ma&icirc;tre d'ouvrage, pour r&eacute;pondre, de mani&egrave;re proportionn&eacute;e, aux besoins de protection du syst&egrave;me et des informations, face aux risques identifi&eacute;s. Son acc&egrave;s est soumis &agrave; inscription. Chaque consommation est identifi&eacute;e et inscrite dans un journal d'activit&eacute; : toute consommation abusive, caract&eacute;ris&eacute;e de mani&egrave;re illicite, pourra faire l'objet de poursuite.</p>
    <h4>6. R&eacute;siliation d'un compte utilisateur</h4>
    <p>Pour r&eacute;silier son inscription, l'utilisateur en fait la demande :</p>
    <ul>
        <li>Par le formulaire de contact de ce service</li>
        <li>Par voie postale :<br />
            <i>Syndicat mixte Gironde Num&eacute;rique<br />
            Service Open Data<br />
            Immeuble Gironde rez de dalle<br />
            8, rue Corps Franc Pommies<br />
            33000 Bordeaux</i></li>
    </ul>
    <h4>7. Suspension ou suppression d'un compte utilisateur</h4>
    <p>Gironde Num&eacute;rique se r&eacute;serve le droit de bloquer, sans information pr&eacute;alable ni compensation financi&egrave;re, les usages mettant en p&eacute;ril l'utilisation du service.</p>
    <p>Gironde Num&eacute;rique se r&eacute;serve &eacute;galement la possibilit&eacute; de supprimer le compte d'un utilisateur et de refuser que certaines personnes aient acc&egrave;s &agrave; la plateforme, en cas de violation des pr&eacute;sentes r&egrave;gles d'utilisation.</p>
    <h4>8. &Eacute;volution des conditions d'utilisation</h4>
    <p>Les termes des pr&eacute;sentes conditions d'utilisation peuvent &ecirc;tre amend&eacute;s par le syndicat mixte Gironde Num&eacute;rique &agrave; tout moment, sans pr&eacute;avis, en fonction des modifications apport&eacute;es au service, de l'&eacute;volution de la l&eacute;gislation ou pour tout autre motif jug&eacute; n&eacute;cessaire.</p>
    <h4>9. Droit applicable et litiges</h4>
    <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales sont soumises au droit fran&ccedil;ais.</p>
    <p>A d&eacute;faut de r&egrave;glement amiable, tout diff&eacute;rend susceptible de s'&eacute;lever concernant l'interpr&eacute;tation, la validit&eacute; et l'ex&eacute;cution des pr&eacute;sentes conditions g&eacute;n&eacute;rales sera soumis &agrave; la juridiction administrative comp&eacute;tente.</p>
    <br /><br />
    <p class="font-italic">Date de la derni&egrave;re modification des CGU : 18 mars 2020</p>
</div>