<div class="text">
    <h3 class="mt-3 font-weight-normal">Journal des changements</h3>
    <h4>Version 1.0 - 19/03/2020</h4>
    <p>Cr&eacute;ation de l'API Open Data Gironde num&eacute;rique et mise en place de son interface utilisateur et documentaire, disponibilit&eacute; des jeux de donn&eacute;es suivants :</p>
    <ul>
        <li>D&eacute;lib&eacute;rations</li>
        <li>Actes r&eacute;glementaires</li>
    </ul>
    <h4>Version 1.1 - 10/04/2020</h4>
    <p>Optimisation des requ&ecirc;tes avec mise en place d'une pagination des r&eacute;sultats pour r&eacute;duire le volume des r&eacute;ponses.</p>
    <h4>Version 1.2 - 15/04/2020</h4>
    <p>Ajout du jeu de donn&eacute;es :</p>
    <ul>
        <li>Collectivit&eacute;s</li>
    </ul>
    <h4>Version 1.2.1 - 22/04/2020</h4>
    <p>Mise &agrave; jour mineure, sans impact sur les fonctionnalit&eacute;s.<br />
    Optimisation arborescence projet, mise en place du fichier composer.json avec autoload PSR-4 des sources.<br />
    Injection des d&eacute;pendances par conteneur.</p>
    <h4>Version 1.3 - 04/05/2020</h4>
    <p>Ajout d'un nouveau jeu de donn&eacute;es concernant les documents budg&eacute;taires dont les documents issus des logiciels m&eacute;tiers (disponibles au format XML et PDF g&eacute;n&eacute;r&eacute;s par le module "print-comp" de la suite logiciel TotEM : DéMatérialisation des Actes Budgétaires) :</p>
    <ul>
        <li>Budgets</li>
        <li>Service de g&eacute;n&eacute;ration d'un document PDF &agrave; partir du document budg&eacute;taire au format XML</li>
    </ul>
    <h4>Version 1.3.1 - 06/08/2020</h4>
    <p>Mise &agrave; jour mineure, sans impact sur les fonctionnalit&eacute;s. Correction sur les codes retour HTTP.<br />
    G&eacute;n&eacute;ration des pages de l'interface documentaire par template et s&eacute;curisation des formulaires de l'interface utilisateur par jeton CSRF.</p>
    <h4>Version 1.4.0 - 21/10/2020</h4>
    <p>Ajout de deux nouveaux jeux de donn&eacute;es sur la th&eacute;matique des &eacute;quipements :</p>
    <ul>
        <li>&Eacute;quipements collectifs : tous les &eacute;quipements li&eacute;s aux collectivit&eacute;s.</li>
        <li>&Eacute;quipements publics : tous les &eacute;quipements publics d'une collectivit&eacute; dont les donn&eacute;es sont issues du service <a href="https://acceslibre.beta.gouv.fr/" target="_blank">acceslibre</a> disponible pour la r&eacute;cup&eacute;ration de l'accessibilit&eacute; des lieux publics non li&eacute;s &agrave; une collectivit&eacute;.</li>
    </ul>
    <h4>Version 1.4.1 - 26/11/2020</h4>
    <p>Harmonisation du nommage des endpoints des services de l'API.</p>
    <h4>Version 1.4.2 - 01/02/2021</h4>
    <p>Correction mod&egrave;le de donn&eacute;es des adresses et des &eacute;quipements.</p>
    <br /><br />
    <p class="font-italic">Date de la derni&egrave;re modification du journal des changements : 01 f&eacute;vrier 2021</p>
</div>