{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
<ul class="nav nav-tabs" id="menu" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="{{ domain }}/swagger/"><i class="fas fa-arrow-left"></i>&nbsp;Retour &agrave; l'API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="api-key-tab" data-toggle="tab" href="#api-key" role="tab" aria-controls="api-key" aria-selected="true">Identifiants API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Mes informations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Mot de passe</a>
    </li>
</ul>
<div class="tab-content" id="menuContent">
    <div class="tab-pane fade show active text" id="api-key" role="tabpanel" aria-labelledby="api-key-tab">
        {% include 'identifiants-api.html' %}
    </div>
    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
        {% include 'informations.html' %}
    </div>
    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
        {% include 'mot-de-passe.html' %}
    </div>
</div>
{% endautoescape %}
{% endblock %}