{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
<div id="collapse-area" class="container col col-4 text-center text">
    <div id="connection-area" class="collapse show" data-parent="#collapse-area">
        <h3 class="mt-5 font-weight-normal">Veuillez vous authentifier...</h3>
        {% include 'message.html' %}
        <form action="action/login" method="post" class="needs-validation" novalidate>
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
            <input type="hidden" name="current-url" value="{{ currentUrl }}" />
            <label for="login" class="sr-only">Email</label>
            <input name="login" class="mt-4 form-control form-control-sm" placeholder="Email" required autofocus="" />
            <div class="invalid-feedback text-left">Veuillez saisir votre email.</div>
            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" name="password" class="mt-3 form-control form-control-sm" placeholder="Mot de passe" required />
            <div class="invalid-feedback text-left">Veuillez saisir votre mot de passe.</div>
            <button class="mt-4 btn btn-sm btn-primary" type="submit">Connexion</button>
            <a href="{{ domain }}/swagger/" class="mt-4 btn btn-sm btn-secondary ml-2">Annuler</a>
        </form>
        <a href="#" class="collapsed float-left mt-3" data-toggle="collapse" data-target="#forgotten-password-area" aria-expanded="false" aria-controls="forgotten-password-area" title="Mot de passe oublié ?">Mot de passe oubli&eacute; ?</a>
    </div>
    <div id="forgotten-password-area" class="collapse" data-parent="#collapse-area">
        <h3 class="mt-5 font-weight-normal">R&eacute;initialisation mot de passe</h3>
        <form action="action/forgotten-password" method="post" class="needs-validation" novalidate>
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
            <input type="hidden" name="current-url" value="{{ currentUrl }}" />
            <label for="email" class="sr-only">Email</label>
            <input name="email" class="mt-4 form-control form-control-sm" placeholder="Email" required autofocus="" />
            <div class="invalid-feedback text-left">Veuillez saisir votre email.</div>
            <button class="mt-4 btn btn-sm btn-primary" type="submit">R&eacute;initialiser</button>
            <a href="#" class="mt-4 btn btn-sm btn-secondary ml-2 collapsed" data-toggle="collapse" data-target="#connection-area" aria-expanded="true" aria-controls="connection-area" title="Annuler">Annuler</a>
            <a href="{{ domain }}/swagger/" class="mt-4 btn btn-sm btn-secondary ml-2" title="Retour à l'index">Retour à l'index</a>
        </form>
    </div>
</div>
{% endautoescape %}
{% endblock %}