<div class="text col col-6">
    <h3 class="mt-3 font-weight-normal">Nous contacter</h3>
    {% include 'message.html' %}
    <p>Pour toute question relative aux donn&eacute;es locales expos&eacute;s par le service Open Data de Gironde Num&eacute;rique, son fonctionnement ou tout autres demandes relatives &agrave; votre compte utilisateur, n'h&eacute;sitez pas &agrave; nous &eacute;crire par le biais de ce formulaire.</p>
    <form action="action/contact" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
        <input type="hidden" name="current-url" value="{{ currentUrl }}" />
        {% if user is empty %}
            <label for="email" class="mt-3">Votre adresse &eacute;lectronique <span class="text-danger">*</span></label>
            <input type="text" name="email" class="form-control form-control-sm" placeholder="Email" required autofocus="" />
            <div class="invalid-feedback text-left">Veuillez saisir votre adresse &eacute;lectronique.</div>
            <label for="email-confirmation" class="mt-3">Confirmez votre adresse &eacute;lectronique <span class="text-danger">*</span></label>
            <input type="text" name="email-confirmation" class="form-control form-control-sm" placeholder="Confirmez votre email" required autofocus="" />
            <div class="invalid-feedback text-left">Veuillez saisir la confirmation de votre adresse &eacute;lectronique.</div>
        {% endif %}
        <label for="position" class="mt-3">Vous êtes ? <span class="text-danger">*</span></label>
        <select name="position" class="form-control form-control-sm" required>
            <option></option>
            <option>Entreprise</option>
            <option>Association</option>
            <option>Organisme d'&Eacute;tat ou organisme assimil&eacute;</option>
            <option>Collectivit&eacute; territoriale</option>
            <option>Enseignant, étudiant, chercheur</option>
            <option>Particulier</option>
        </select>
        <div class="invalid-feedback text-left">Veuillez s&eacute;lectionner un statut socio-professionnel.</div>
        <label for="message" class="mt-3">Votre message <span class="text-danger">*</span></label>
        <textarea name="message" class="form-control form-control-sm" placeholder="Votre message..." required style="height:150px;"></textarea>
        <div class="invalid-feedback text-left">Veuillez saisir votre message.</div>
        <button class="btn btn-sm btn-primary mt-3 mb-3" type="submit">Envoyer</button>
    </form>
</div>