<div class="text">
    <h3 class="mt-3 font-weight-normal">Documentation g&eacute;n&eacute;rale de l'API Open Data Gironde Num&eacute;rique</h3>
    <h4>Acc&egrave;s :</h4>
    <p>L'API Open Data Gironde Num&eacute;rique est accessible &agrave; tous et est soumise &agrave; authentification.<br />
    Son acc&egrave;s est permis par inscription qui vous permettra de g&eacute;n&eacute;rer vos acc&egrave;s d'authentification pour appeler les diff&eacute;rents services du catalogue.</p>
    <p>L'identification sur l'interface de documentation &laquo; Swagger &raquo; de l'API vous permet de changer votre mot de passe d'acc&egrave;s et/ou de r&eacute;g&eacute;n&eacute;rer quand vous le souhaitez vos cha&icirc;nes d'identification.</p>
    <h4>Authentification et appel de services :</h4>
    <p>Il s'agit d'un service web de type REST, qui s'appuie donc uniquement sur les protocoles et standards utilis&eacute;s sur le web (standard OpenAPI). L'invocation du service se fait par envoi d'une requ&ecirc;te HTTPS (de type GET) sur une URL publique ; le r&eacute;sultat est communiqu&eacute; dans le contenu de la r&eacute;ponse HTTPS au format JSON.</p>
    <p>L'appel est soumis &agrave; authentification &agrave; l'aide d'un jeton d'acc&egrave;s fourni par le catalogue. Chaque appel compte dans votre quota d'interrogations de l'API Open Data Gironde Num&eacute;rique qui est limit&eacute; &agrave; 30 appels toutes les 60 secondes. Au del&agrave; de ce quota, votre compte est bloqu&eacute; pour une dur&eacute;e de 30 secondes afin de limiter la saturation du service.</p>
    <p>L'API Open Data Gironde Num&eacute;rique est disponible sur deux environnements :</p>
    <ul>
        <li>TEST : https://api-opendata-test.girondenumerique.fr (afin de tester votre implémentation des services)</li>
        <li>PRODUCTION : https://api-opendata.girondenumerique.fr</li>
    </ul>
    <h5>1. Jeton d'acc&egrave;s.</h5>
    <p>Pour obtenir votre jeton d'acc&egrave;s d'une dur&eacute;e de validit&eacute; de 30 jours, il faut impl&eacute;menter un appel de g&eacute;n&eacute;ration de token de ce type :</p>
    <code class="microlight">curl -D -X GET -H "Authorization: Basic [Cha&icirc;ne d'authentification encod&eacute; en base 64]" -H "Content-Type: application/json" "https://api-opendata.girondenumerique.fr/api/token"</code>
    <p class="mt-2"><i class="fas fa-info-circle text-danger" aria-hidden="true"></i>&nbsp;O&ugrave; [Cha&icirc;ne d'authentification encod&eacute; en base 64] = base64_encode([Phrase hash&eacute;]:[Cl&eacute; secr&eacute;te]).</p>
    {% if user %}
        <p>Soit pour votre compte avec votre cl&eacute; et votre secret actuels :</p><code class="microlight">curl -D -X GET -H "Authorization: Basic {{ user.encodedSecret }}" -H "Content-Type: application/json" "https://api-opendata.girondenumerique.fr/api/token"</code>
    {% endif %}
    <h5>2. Consommation de services.</h5>
    <p>Avec le jeton obtenu, vous pouvez ensuite effectuer un appel de service comme ceci :</p>
    <code class="microlight">curl -D -X GET -H "Authorization: Bearer [token]" -H "Content-Type: application/json" "https://api-opendata.girondenumerique.fr/api/v1/[service]"</code>
    {% if user %}
        <br /><p>Soit pour votre compte avec le jeton actuel :</p><code class="microlight">curl -D -X GET -H "Authorization: Bearer {{ user.bearer }}" -H "Content-Type: application/json" "https://api-opendata.girondenumerique.fr/api/v1/[service]"</code>
    {% endif %}
    <h4>Structure de la r&eacute;ponse :</h4>
    <code class="microlight">
    <span>[</span><span style="color: #555; font-weight: bold;"></span><span>{</span><span style="color: #555; font-weight: bold;"></span>
        <span style="color: #555;">"time"</span><span>:</span><span style="color: #555; font-weight: bold;"></span><span style="color: #555;">"integer"</span><span>,</span><span style="color: #555; font-weight: bold;"></span>
        <span style="color: #555;">"success"</span><span>:</span><span style="color: #555; font-weight: bold;"></span><span style="color: #555;">"boolean"</span><span>,</span><span style="color: #555; font-weight: bold;"></span>
        <span style="color: #555;">"total"</span><span>:</span><span style="color: #555; font-weight: bold;"></span><span style="color: #555;">"integer"</span><span>,</span><span style="color: #555; font-weight: bold;"></span>
        <span style="color: #555;">"message"</span><span>:</span><span style="color: #555; font-weight: bold;"></span><span style="color: #555;">"string"</span><span>,</span><span style="color: #555; font-weight: bold;"></span>
        <span style="color: #555;">"response"</span><span>:</span><span style="color: #555; font-weight: bold;"></span><span style="color: #555;">"array"</span><span></span><span style="color: #555; font-weight: bold;"></span>
    </span><span>}</span><span style="color: #555; font-weight: bold;"></span><span>]</span>
    </code>
    <br />
    <table class="table table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width:100px">Code HTTP</th>
                <th scope="col" style="width:60px">Temps</th>
                <th scope="col" style="width:130px">Bool&eacute;en success</th>
                <th scope="col" style="width:60px">Total</th>
                <th scope="col">Message</th>
                <th scope="col" style="width:100px">R&eacute;ponse</th>
                <th scope="col">Commentaire</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <th scope="row">200</th>
                <td>XXX</td>
                <td>true</td>
                <td>XX</td>
                <td>XX sur XX [jeu de donn&eacute;es] retourn&eacute;es.</td>
                <td class="font-italic">JSON array</td>
                <td></td>
            </tr>
            <tr class="table-success">
                <th scope="row">204</th>
                <td>XXX</td>
                <td>true</td>
                <td>0</td>
                <td>Aucun(e) [jeu de donn&eacute;es] pour les param&egrave;tres saisis.</td>
                <td class="font-italic">vide</td>
                <td>Il se peut que les param&egrave;tres de filtre restreignent trop la r&eacute;ponse.</td>
            </tr>
            <tr class="table-success">
                <th scope="row">206</th>
                <td>XXX</td>
                <td>true</td>
                <td>XX</td>
                <td>YY sur XX [jeu de donn&eacute;es] retourn&eacute;es.</td>
                <td class="font-italic">JSON array</td>
                <td>Le r&eacute;sultat est partiel en raison d'une pagination.</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">400</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>URL malform&eacute;e ou partie d'URL manquante ou non r&eacute;solue.</td>
                <td class="font-italic">vide</td>
                <td>Votre requ&ecirc;te est incompl&eacute;te ou malform&eacute;e. Veuillez v&eacute;rifier vos diff&eacute;rents param&egrave;tres. Si le probl&egrave;me persiste, contactez l'administrateur de cette plateforme en indicant les informations conduisant &agrave; l'erreur.</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">401</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>Informations d'authentification invalides.</td>
                <td class="font-italic">vide</td>
                <td>V&eacute;rifiez que votre jeton d'acc&egrave;s est correctement g&eacute;n&eacute;r&eacute; et/ou encore en cours de validit&eacute;.</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">403</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>Vous n'&ecirc;tes pas autoris&eacute; &agrave; acc&eacute;der &agrave; cette ressource.</td>
                <td class="font-italic">vide</td>
                <td>Si vos param&egrave;tres d'authentification semblent corrects, contactez l'administrateur de cette plateforme en indicant les informations conduisant &agrave; l'erreur.</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">404</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>Service introuvable ou non impl&eacute;ment&eacute;.</td>
                <td class="font-italic">vide</td>
                <td>Le service auquel vous cherchez &agrave; acc&eacute;der n'existe pas ou n'est pas impl&eacute;ment&eacute;. Veuillez revoir votre requ&ecirc;te.</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">406</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>Informations d'identification manquantes.</td>
                <td class="font-italic">vide</td>
                <td>La cha&icirc;ne de caract&egrave;res hash&eacute;e ou la cl&eacute; secr&eacute;te de votre compte n'ont pas &eacute;t&eacute; renseign&eacute; pour obtenir votre jeton d'acc&egrave;s.</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">429</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>Trop de requ&ecirc;tes, vous avez d&eacute;pass&eacute; votre quota de 30 requ&ecirc;tes par minute.</td>
                <td class="font-italic">vide</td>
                <td>Vous avez d&eacute;passez votre quota de 30 requ&ecirc;tes &agrave; la minute, veuillez patientez 30 secondes.</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">500</th>
                <td>XXX</td>
                <td>false</td>
                <td class="font-italic">vide</td>
                <td>Une erreur interne s'est produite lors du traitement de votre requ&ecirc;te.</td>
                <td class="font-italic">vide</td>
                <td>Si le probl&egrave;me persiste, contactez l'administrateur de cette plateforme en indicant les informations conduisant &agrave; l'erreur.</td>
            </tr>
        </tbody>
    </table>
    <h4>Cin&eacute;matique des appels et conseils d'utilisation :</h4>
    <img src="resources/img/Cinematique.png" title="Cin&eacute;matique des appels" alt="Cin&eacute;matique des appels" />
    <h5>1. Authentification</h5>
    <p>Avant de pouvoir appeler les services d'acc&egrave;s aux donn&eacute;es ouvertes, vous devez obtenir votre jeton d'acc&egrave;s d'une validit&eacute; de 30 jours &agrave; l'aide de votre phrase secr&egrave;te et votre cl&eacute; associ&eacute;es &agrave; votre compte.<br />
    Si votre syst&egrave;me n'est pas en capacit&eacute; de sauvegarder ce jeton durant sa p&eacute;riode de validit&eacute;, il est pr&eacute;f&eacute;rable d'en r&eacute;g&eacute;n&eacute;rer un nouveau avant chaque nouvel appel.</p>
    <h5>2. Consommation des services</h5>
    <p>Une fois votre jeton obtenu ou r&eacute;cup&eacute;r&eacute; de votre syst&egrave;me, vous pouvez consommer chaque service du catalogue en fournissant &agrave; chaque appel votre jeton dans l'ent&ecirc;te d'authentification.<br />
    Les donn&eacute;es remont&eacute;es &eacute;tant enrichies r&eacute;guli&egrave;rement, voir mise &agrave; jour ou encore supprim&eacute;, il est pr&eacute;f&eacute;rable de proc&eacute;der &agrave; un annule et remplace de votre jeu de donn&eacute;es pr&eacute;c&eacute;demment remont&eacute; par le service. Ce remplacement permettra aussi de ne plus r&eacute;f&eacute;rencer de valeurs supprim&eacute;es par le producteur de donn&eacute;es.</p>
    <p>Vous avez la possibilit&eacute; de r&eacute;cup&eacute;rer l'ensemble du jeu de donn&eacute;es si vous ne passez aucun param&egrave;tre de filtre ou une partie si vous renseignez des filtres dans votre requ&ecirc;te (plage de dates, localisation par code postal ou num&eacute;ro de SIREN pour filtrer sur une collectivit&eacute; sp&eacute;cifique).</p>
    <br /><br />
    <p class="font-italic">Date de la derni&egrave;re modification de la documentation : 17 avril 2020</p>
</div>