{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
{% include 'message.html' %}
<div class="alert alert-danger text-left mt-5" role="alert">
	<h2>{{ errorCode }}</h2>
	{{ errorMessage }}
	<br /><br />
	<a class="font-weight-bolder" href="{{ domain }}/swagger/">Retour &agrave; l'accueil</a>
</div>
{% endautoescape %}
{% endblock %}