<h3 class="mt-3 font-weight-normal">Clefs et jeton d'acc&egrave;s</h3>
{% include 'message.html' %}
<h4>Identifiants API :</h4>
<div class="col col-6 col-xs-12">
    <form action="action/regenerate-keys" method="post">
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
        <input type="hidden" name="current-url" value="{{ currentUrl }}" />
        <div class="form-inline text-right mt-3">
            <label class="mr-2 col-1 col-form-label" for="key">Clef</label>
            <div class="input-group col-8">
                <input type="text" class="form-control form-control-sm input-btn" name="key" id="key" value="{{ user.key }}" readonly />
                <div class="input-group-append"><button class="btn btn-sm btn-outline-primary copy-btn" type="button" data-toggle="tooltip" data-placement="top" title="Copier dans le presse-papier">Copier</button></div>
            </div>
        </div>
        <div class="form-inline text-right mt-3">
            <label class="mr-2 col-1 col-form-label" for="secret">Secret</label>
            <div class="input-group col-8">
                <input type="text" class="form-control form-control-sm input-btn" name="secret" id="secret" value="{{ user.secret }}" readonly />
                <div class="input-group-append"><button class="btn btn-sm btn-outline-primary copy-btn" type="button" data-toggle="tooltip" data-placement="top" title="Copier dans le presse-papier">Copier</button></div>
            </div>
            <button class="btn btn-sm btn-primary ml-2" type="submit">Reg&eacute;n&eacute;rer</button>
        </div>
    </form>
</div>
<h4>G&eacute;n&eacute;ration des jetons d'acc&egrave;s :</h4>
<p>La commande cURL suivante montre comment générer un jeton d'acc&egrave;s en utilisant le type d'authentification de client.</p>
<code class="microlight">curl -D -X GET -H "Authorization: Basic Base64(consumer-key:consumer-secret)" -H "Content-Type: application/json" "https://api-opendata.girondenumerique.fr/api/token"</code>
<p class="mt-3">Exemple pour votre compte avec la cl&eacute; et la cha&icirc;ne secr&eacute;te actuelles :</p>
<code class="microlight">curl -D -X GET -H "Authorization: Basic {{ user.encodedSecret }}" -H "Content-Type: application/json" "https://api-opendata.girondenumerique.fr/api/token"</code>
<h4>Votre jeton d'acc&egrave;s courant :</h4>
<div class="col col-6 col-xs-12">
    <form action="action/regenerate-bearer" method="post">
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
        <input type="hidden" name="current-url" value="{{ currentUrl }}" />
        <div class="form-inline text-right mt-3">
            <label class="mr-2 col-1 col-form-label" for="bearer">Bearer</label>
            <div class="input-group col-8">
                <textarea name="bearer" id="bearer" class="form-control form-control-sm input-btn" style="height:150px;" readonly>{{ user.token.bearer }}</textarea>
                <div class="input-group-append"><button class="btn btn-sm btn-outline-primary copy-btn" type="button">Copier</button></div>
            </div>
            <button class="btn btn-sm btn-primary ml-2" type="submit">Reg&eacute;n&eacute;rer</button>
        </div>
    </form>
    <br />
    {% if user.token is not empty %}
        {% if user.token.JWTException %}
            <div class="alert alert-warning" role="alert">
                Jeton expir&eacute;, veuillez en reg&eacute;n&eacute;rer un nouveau.
            </div>
        {% else %}
            <p>Cr&eacute;&eacute; le : {{ user.token.creationDate }}<br />Expire le : {{ user.token.expirationDate }}</p>
        {% endif %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aucun jeton g&eacute;n&eacute;r&eacute;, veuillez en g&eacute;n&eacute;rer un.
        </div>
    {% endif %}
</div>