<div class="text col col-6">
    <h3 class="mt-3 font-weight-normal">Modifier mes informations</h3>
    {% include 'message.html' %}
    <form action="action/information-update" method="post" class="needs-validation mt-3" novalidate>
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
        <input type="hidden" name="current-url" value="{{ currentUrl }}" />
        <label for="firstname">Pr&eacute;nom <span class="text-danger">*</span></label>
        <input name="firstname" value="{{ user.firstname }}" class="form-control form-control-sm" placeholder="Prénom" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre pr&eacute;nom.</div>
        <label for="lastname" class="mt-3">Nom <span class="text-danger">*</span></label>
        <input name="lastname" value="{{ user.lastname }}" class="form-control form-control-sm" placeholder="Nom" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre nom.</div>
        <button class="btn btn-sm btn-primary mt-3 mb-3" type="submit">Modifier</button>
    </form>
</div>