{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
<div class="container col col-4 text-center text">
    <h3 class="mt-5 font-weight-normal">Cr&eacute;er son compte</h3>
    {% include 'message.html' %}
    <form action="action/subscription" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
        <input type="hidden" name="current-url" value="{{ currentUrl }}" />
        <label for="firstname" class="sr-only">Pr&eacute;nom <span class="text-danger">*</span></label>
        <input name="firstname" class="mt-4 form-control form-control-sm" placeholder="Pr&eacute;nom" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre pr&eacute;nom.</div>
        <label for="lastname" class="sr-only">Nom <span class="text-danger">*</span></label>
        <input name="lastname" class="mt-4 form-control form-control-sm" placeholder="Nom" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre pr&eacute;nom.</div>
        <label for="email" class="sr-only">Email <span class="text-danger">*</span></label>
        <input name="email" class="mt-4 form-control form-control-sm" placeholder="Email" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre email.</div>
        <label for="email-confirmation"  class="sr-only">Confirmez votre adresse &eacute;lectronique <span class="text-danger">*</span></label>
        <input name="email-confirmation" class="mt-4 form-control form-control-sm" placeholder="Confirmez votre email" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir la confirmation de votre adresse &eacute;lectronique.</div>
        <label for="password" class="sr-only">Mot de passe <span class="text-danger">*</span></label>
        <input type="password" name="password" class="mt-4 form-control form-control-sm" placeholder="Mot de passe" required />
        <div class="invalid-feedback text-left">Veuillez saisir votre mot de passe.</div>
        <label for="password-confirmation" class="sr-only">Confirmez votre mot de passe <span class="text-danger">*</span></label>
        <input type="password" name="password-confirmation" class="mt-4 form-control form-control-sm" placeholder="Confirmation mot de passe" required />
        <div class="invalid-feedback text-left">Veuillez saisir la confirmation de votre mot de passe.</div>
        <button class="mt-4 btn btn-sm btn-primary" type="submit">Cr&eacute;er son compte</button>
        <a href="{{ domain }}/swagger/" class="mt-4 btn btn-sm btn-secondary ml-2">Annuler</a>
    </form>
</div>
{% endautoescape %}
{% endblock %}