<div class="text">
    <h3 class="mt-3 font-weight-normal">Mentions l&eacute;gales de l'API Open Data Gironde Num&eacute;rique</h3>
    <h4>1. Responsable de la publication</h4>
    <p>Monsieur Xavier MADIOT, chef de projet donn&eacute;es publiques et cha&icirc;ne de la d&eacute;mat&eacute;rialisation.</p>
    <h4>2. Propri&eacute;t&eacute; intellectuelle</h4>
    <p>Toute reproduction pour un usage autre que strictement priv&eacute; des &eacute;crans de navigation du pr&eacute;sent service et des marques et logos, notamment celui de Gironde Num&eacute;rique et des diff&eacute;rentes collectivit&eacute;s adh&eacute;rentes, qui y sont affich&eacute;s est rigoureusement interdite.</p>
    <p>Gironde Num&eacute;rique est &agrave; la fois agr&eacute;gateur des donn&eacute;es de ses adh&eacute;rents ayant souscrit au service Open Data et producteur de donn&eacute;es pour le compte du syndicat mixte Gironde Num&eacute;rique uniquement.</p>
    <h4>3. &Eacute;diteur / H&eacute;bergeur</h4>
    <p>Le syndicat mixte Gironde Num&eacute;rique h&eacute;berge ses propres solutions informatiques, ainsi que les donn&eacute;es aff&eacute;rentes au sein d'un data-center propre.</p>
    <p>Syndicat mixte Gironde Num&eacute;rique<br />
    Service Open Data<br />
    Immeuble Gironde rez de dalle<br />
    8, rue Corps Franc Pommies<br />
    33000 Bordeaux</p>
    <p>Standard t&eacute;l&eacute;phonique : 05 35 54 08 84</p>
    <h4>4. Version du service</h4>
    <p>1.4.2</p>
    <h4>5. Droit d'acc&egrave;s et de modification des donn&eacute;es personnelles</h4>
    <p>Le traitement des donn&eacute;es &agrave; caract&egrave;re personnel pr&eacute;sentes dans le service est conforme &agrave; la <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000788488" target="_blank" title="D&eacute;lib&eacute;ration N&deg;2006-138 du 9 mai 2006">d&eacute;lib&eacute;ration N&deg;2006-138 du 9 mai 2006</a> de la Commission nationale de l'informatique et des libert&eacute;s, d&eacute;cidant de la dispense de d&eacute;claration des traitements constitu&eacute;s &agrave; des fins d'information ou de communication.</p>
    <p>Les droits d'opposition, d'acc&egrave;s et de rectification respectivement pr&eacute;vus aux articles 38, 39 et 40 de la <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000886460" target="_blank" title="Loi N&deg;78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s">loi N&deg;78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s</a> s'exercent aupr&egrave;s du responsable du traitement &agrave; l’adresse suivante :</p>
    <p class="font-italic">Syndicat mixte Gironde Num&eacute;rique<br />
    Service Open Data<br />
    Immeuble Gironde rez de dalle<br />
    8, rue Corps Franc Pommies<br />
    33000 Bordeaux</p>
    <p>Ou par le biais du formulaire de contact de ce service</p>
    <br /><br />
    <p class="font-italic">Date de la derni&egrave;re modification des mentions l&eacute;gales : 01 f&eacute;vrier 2021</p>
</div>