<div class="text col col-6">
    <h3 class="mt-3 font-weight-normal">Modifier mon mot de passe</h3>
    {% include 'message.html' %}
    <form action="{{ domain }}/swagger/action/password-update" method="post" class="needs-validation mt-3" novalidate>
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
        <input type="hidden" name="current-url" value="{{ currentUrl }}" />
        <label for="old-password">Ancien mot de passe <span class="text-danger">*</span></label>
        <input type="password" name="old-password" class="form-control form-control-sm" placeholder="Ancien mot de passe" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre ancien mot de passe.</div>
        <label for="new-password" class="mt-3">Nouveau mot de passe <span class="text-danger">*</span></label>
        <input type="password" name="new-password" class="form-control form-control-sm" placeholder="Nouveau mot de passe" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir votre nouveau mot de passe.</div>
        <label for="new-password-confirmation" class="mt-3">Confirmation mot de passe <span class="text-danger">*</span></label>
        <input type="password" name="new-password-confirmation" class="form-control form-control-sm" placeholder="Confirmation mot de passe" required autofocus="" />
        <div class="invalid-feedback text-left">Veuillez saisir la confirmation de votre nouveau mot de passe.</div>
        <button class="btn btn-sm btn-primary mt-3 mb-3" type="submit">Modifier</button>
    </form>
</div>