<h3 class="mt-3 font-weight-normal">Publication des données au format DCAT</h3>
{% include 'message.html' %}
<table
    id="publication-table"
    class="table-sm table-striped mt-3"
    data-icon-size="sm"
    data-locale="fr-FR"
    data-toggle="table"
    data-pagination="true"
    data-page-list="[25, 50, 100]"
    data-ajax="ajaxRequest">
    <thead>
        <tr>
            <th data-field="active" data-align="center" data-formatter="activeFormatter" data-width="2" data-width-unit="%"></th>
            <th data-field="siren" data-width="6" data-width-unit="%">SIREN</th>
            <th data-field="name" data-width="18" data-width-unit="%">Collectivit&eacute;</th>
            <th data-field="frequency" data-formatter="frequencyFormatter" data-width="9" data-width-unit="%">Fr&eacute;quence</th>
            <th data-field="formattedLastExecution" data-width="11" data-width-unit="%">Derni&egrave;re ex&eacute;cution</th>
            <th data-field="state" data-align="center" data-formatter="stateFormatter" data-width="5" data-width-unit="%">&Eacute;tat</th>
            <th data-field="url" data-formatter="urlFormatter" data-width="39" data-width-unit="%">URL catalogue</th>
            <th data-align="center" data-formatter="operateFormatter" data-events="window.operateEvents" data-width="4" data-width-unit="%"></th>
        </tr>
    </thead>
</table>
<button id="add-publication" class="btn btn-sm btn-secondary mt-3 mb-3">Ajouter une publication</button>
<div class="modal fade" id="publication-popup" tabindex="-1" role="dialog" aria-labelledby=".modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="publication-popup-content">
                <form method="post" action="" id="publication-form" class="needs-validation" novalidate="">
                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                    <input type="hidden" name="current-url" value="{{ currentUrl }}" />
                    <div class="form-group row">
                        <label for="publication-name" class="col col-2 col-form-label col-form-label-sm text-right">Nom</label>
                        <div class="col col-9">
                            <input type="text" name="publication-name" class="form-control form-control-sm" placeholder="Nom de la collectivit&eacute;" value="" required />
                            <div class="invalid-feedback text-left">Veuillez saisir un nom de collectivit&eacute;.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publication-siren" class="col col-2 col-form-label col-form-label-sm text-right">SIREN</label>
                        <div class="col col-5">
                            <input type="text" name="publication-siren" class="form-control form-control-sm" placeholder="Num&eacute;ro SIREN" value="" maxlength="9" required />
                            <div class="invalid-feedback text-left">Veuillez saisir un num&eacute;ro SIREN.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publication-frequency" class="col col-2 col-form-label col-form-label-sm text-right">Fr&eacute;quence</label>
                        <div class="col col-2">
                            <input type="number" name="publication-frequency" class="form-control form-control-sm" value="30" required />
                            <div class="invalid-feedback text-left">Veuillez saisir une fr&eacute;quence d'ex&eacute;cution en jours.</div>
                        </div>
                        <div class="col col-form-label col-form-label-sm pl-0">
                            en jours
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-2 col-form-label col-form-label-sm form-check-label text-right" for="publication-active">Active ?</label>
                        <div class="col col-3">
                            <input type="checkbox" class="form-check-input" style="margin:9px 0;" name="publication-active" value="1" checked />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-10 col-sm-10 col-lg-10 text-right">
                            <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
                            <button type="button" class="btn btn-sm btn-secondary ml-3" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="publication-delete-popup" tabindex="-1" role="dialog" aria-labelledby=".modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'une publication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="publication-delete-popup-content">
                <form method="post" action="{{ domain }}/swagger/action/delete/publication" id="publication-delete-form" class="needs-validation" novalidate="">
                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                    <input type="hidden" name="current-url" value="{{ currentUrl }}" />
                    <input type="hidden" name="publication-siren" value="" />
                    <div class="col col-10">
                        &Ecirc;tes-vous certains de vouloir supprimer la publication de "<span class="publication-name"></span>" ?
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col col-10 col-sm-10 col-lg-10 text-right">
                            <button type="submit" class="btn btn-sm btn-primary">Supprimer</button>
                            <button type="button" class="btn btn-sm btn-secondary ml-3" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
