<div id="user-area">
    <div class="btn btn-sm btn-success documents">
        Nombre de document(s) <span class="badge badge-light ml-3">{{ totalDocuments }}</span>
    </div>
    {% if user %}
        <form id="deconnection-form" action="{{ domain }}/swagger/action/logout" method="post">
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
            <input type="hidden" name="current-url" value="{{ currentUrl }}" />
            <span>
                <i class="fas fa-user-shield" aria-hidden="true"></i>
                {{ user.firstname }} {{ user.lastname }} - {{ user.email }}
            </span>
            <a href="{{ domain }}/swagger/compte" class="btn btn-sm btn-info"><i class="fas fa-user-edit" aria-hidden="true"></i>Mon compte</a>
            <button type="submit" class="btn btn-sm btn-warning"><i class="fas fa-user-lock" aria-hidden="true"></i>D&eacute;connexion</button>
        </form>
    {% else %}
        <a href="{{ domain }}/swagger/inscription" class="btn btn-sm btn-info"><i class="fas fa-user-plus" aria-hidden="true"></i>Cr&eacute;er son compte</a>
        <a href="{{ domain }}/swagger/connexion" class="btn btn-sm btn-primary"><i class="fas fa-user-cog" aria-hidden="true"></i>Se connecter</a>
    {% endif %}
</div>