{% block email %}
<body style="margin:0; font-family:Arial,sans-serif; font-size:1rem; font-weight:400; line-height:1.5; color:#212529; text-align:left; background-color:#fff;">
    <div style="position:unset; top:0; right:0; left:0; z-index:1030; font-size:16pt; padding:0; background:#074263; background:linear-gradient(90deg,#074263 0%,#e3e6e7 100%); min-height: 90px;">
        <h1 style="text-align:left; color:#e3e6e7; text-shadow:3px 3px 2px rgba(71,71,71,0.75); font-size:2rem; margin-left:50px; padding-top:22px;">API Open Data</h1>
        <img style="position: absolute; top:12px; right:40px; height:64px;" src="https://api-opendata.girondenumerique.fr/swagger/resources/img/logotype-f42f.png" />
    </div>
    <div style="font-family:Arial,sans-serif; font-weight:normal; font-size:15px; padding:20px;">
        <span style="font-size:25px; font-weight:bold;">API Open Data Gironde Num&eacute;rique, nouveau message depuis la plateforme.</span><br />
        {% if user is not empty %}
            {{ user.firstname }} {{ user.lastname }} ({{ user.email }}) - {{ position }}
        {% else %}
            {{ email }} - {{ position }}
        {% endif %}
        <br /><br />
        {{ message }}
    </div>
</body>
{% endblock %}