{% block email %}
<body style="margin:0; font-family:Arial,sans-serif; font-size:1rem; font-weight:400; line-height:1.5; color:#212529; text-align:left; background-color:#fff;">
    <div style="position:unset; top:0; right:0; left:0; z-index:1030; font-size:16pt; padding:0; background:#074263; background:linear-gradient(90deg,#074263 0%,#e3e6e7 100%); min-height: 90px;">
        <h1 style="text-align:left; color:#e3e6e7; text-shadow:3px 3px 2px rgba(71,71,71,0.75); font-size:2rem; margin-left:50px; padding-top:22px;">API Open Data</h1>
        <img style="position: absolute; top:12px; right:40px; height:64px;" src="https://api-opendata.girondenumerique.fr/swagger/resources/img/logotype-f42f.png" />
    </div>
    <div style="font-family:Arial,sans-serif; font-weight:normal; font-size:15px; padding:20px;">
        <span style="font-size:25px; font-weight:bold;">API Open Data Gironde Num&eacute;rique, r&eacute;initialisation de votre mot de passe.</span><br /><br /><br />
        Bonjour,<br /><br />
        Voici vos nouveaux identifiants de connexion suite &agrave; votre demande de r&eacute;initialisation de mot de passe effectu&eacute;e depuis la plateforme API Open Data Gironde Num&eacute;rique :<br />
        Identifiant : {{ email }}<br />
        Nouveau mot de passe : {{ newPassword }}<br /><br />
        <i>Attention, veillez &agrave; bien respecter les &eacute;ventuels majuscules, minuscules et caract&egrave;res sp&eacute;ciaux de votre nouveau mot de passe.<br />
        Nous vous invitons &agrave; changer celui-ci par un de votre choix lors de votre prochaine connexion.</i><br /><br />
        Cordialement,<br />
        L'&eacute;quipe Open Data Gironde Num&eacte;rique
    </div>
</body>
{% endblock %}