header{ background:#074263; background:linear-gradient(90deg, #074263 0%, #e3e6e7 100%); min-height:90px; padding:12px; }
header a:hover{ text-decoration:none!important; }
.wrapper{ box-sizing:border-box; }
header h1{ background-image:url(../img/report.svg); background-repeat:no-repeat; height:64px; color:#e3e6e7; text-shadow:3px 3px 2px rgba(71,71,71,0.75); font-size:2rem; margin-top:5px; margin-left:50px; padding-left:73px; padding-top:12px; }
header img{ position:absolute; top:7px; right:40px; }
.swagger-ui .info{ margin:50px 0 0 0!important; }
#user-area{ margin:10px 20px; text-align:right; padding-right:0; }
#user-area div.documents{  float:left; }
#user-area i.fas{ margin-right:5px; }
#user-area button.btn-warning, #user-area a.btn-primary, #user-area a.btn-info{ margin-left:15px; }
#authorizations .notice{ margin-top:15px; padding:10px; font-size:14px; background-color:#f1f1f1; border-left:5px solid transparent; border-left-color:#074263; }
#authorizations .notice h5{ color:#074263; padding-left:10px; }
#authorizations .notice h5 i{ padding-right:10px; }
div.text{ font-family:"Roboto", Arial, Helvetica, sans-serif; font-size:14px; line-height:1.42857; color:#333333; }
div.text h4{ margin-top:30px; font-size:18px; }
div.text h5{ margin-top:20px; font-size:16px; }
div.text ul > li{ list-style:square; }
div.text table th{ height:45px; }
div.text table th, div.text table td{ vertical-align:middle; }
div.text code.microlight{ display:block; font-size:14px; margin:0; padding:10px; white-space:pre-wrap; word-wrap:break-word; word-break:break-all; word-break:break-word; -webkit-hyphens:auto; -ms-hyphens:auto; hyphens:auto; border-radius:4px; background:#41444e; overflow-wrap:break-word; font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; font-weight:600; color:#37ff01; }
div.text code.microlight span{ color:#fff!important; }
div.noscript-message{ background-image:url(../img/warning.png); background-repeat:no-repeat; height:64px; padding-left:80px; padding-top:25px; }
.col{ width:auto; min-width:0; }
span.headerline{ display:block; font-size:0.75rem; max-width:700px; word-wrap:break-word; }
.bootstrap-table i.fas{ cursor:pointer!important; }
#publication-table.table-sm tr td{ font-size:14px!important; }
/* MODAL */
.modal-backdrop{ z-index:0; }
.modal-content{ border-radius:unset; border:2px solid #343a40; }
.modal-content .modal-title{ color:#b3b3b1; font-size:20pt; }
.modal-content .modal-title::first-letter{ font-weight:bold; color:#c90d00; }
.modal-content .modal-header{ border-bottom:none; }
.modal-content .modal-header .modal-title{ color:#343a40; }
.modal-content .modal-footer{ border-top:none; }
.modal-content .intitule.inscription{ font-size:x-small; margin-left:20px; display:block; }
.modal-content .textPopUp .oi{ display:none; }

